<html>
    <head>
        <title>Spantree Elasticsearch Talk</title>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3.1.0/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/flat-ui/2.0/css/flat-ui.css"/>
    </head>
    <body>
        <h1>Spantree Elasticsearch Talk</h1>

        <h2>Resources</h2>
        <ul>
            <li>
                <a href="/slides" target="es_slides">Slides</a>
            </li>
            <li>
                <a href="{{esRoot}}" target="es_rest">Elasticsearch REST Interface</a>
            </li>
            <li>
                <a href="{{esRoot}}/_plugin/marvel/" target="es_marvel">Marvel Plugin</a>
            </li>
            <li>
                <a href="{{esRoot}}/_plugin/head/" target="es_head">Head Plugin</a>
            </li>
            <li>
                <a href="{{esRoot}}/_plugin/marvel/sense/" target="es_sense">Sense API Explorer</a>
            </li>
        </ul>

        <h2>Example REST Calls</h2>
        <ul>
            {{#each chapters}}
                <li>
                    <a href="{{esRoot}}/_plugin/marvel/sense/#{{this}}" target="es_sense_{{this}}">{{@key}}</a>
                </li>
            {{/each}}
        </ul>
    </body>
</html>